// Colors
$c-blue-primary: #479cd5;
$c-blue-dark: #225193;
$c-yellow: #ffdb00;
$c-orange: rgb(253, 156,20);
$c-white: #fff;
$c-white-off: #efefef;
$c-dark: #19202a;
$c-grey: #717d93;
// Typography
$f-montserrat: "Montserrat", sans-serif;
$f-roboto: 'Roboto', sans-serif;
